# ─── Node ────────────────────────────────────────────────────────────────────
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ─── Expo ────────────────────────────────────────────────────────────────────
.expo/
dist/
web-build/
expo-env.d.ts

# ─── Environment variables ────────────────────────────────────────────────────
.env
.env.local
.env.*.local

# ─── Native builds ───────────────────────────────────────────────────────────
android/
ios/
*.jks
*.keystore

# ─── OS generated ────────────────────────────────────────────────────────────
.DS_Store
Thumbs.db

# ─── TypeScript ──────────────────────────────────────────────────────────────
*.tsbuildinfo
